/* ---------------------------------------------------style3 */
/* || ---------------------------------- General setup */
* {

}

html {
  margin: 0;
  padding: 0;
}

body {
  width: 70%;
  margin: 0 auto;
  background-color: #3b404e;

}

/* || ---------------------------------- typography */

h1, h2, h3, h4, h5, h6 {
}

h1 {
  font-size:4vw;
  text-align: center;
  color:#ffffff;
}

h2 {
  font-size:3.5vw;
}

h3 {
  font-size:3vw;
}

h4 {
  font-size:2.5vw;

}

h5 {
  font-size:2vw;
}

h6 {
  font-size:1.5vw;
}

p, li, table, form {
  font-size:2vw;
}

.headings_example{
  background-color: inherit;
  color:#a9a9a9;
  margin: 0 0;
}

/* || ---------------------------------- layout */

/* || ------ header */
header {

}

nav, article, aside, footer {
  padding: 1%;
}

/* || ------ nav */
nav {
  height: 50px;
  border: 1px solid #222;
  display: flex;
  margin-bottom: 10px;
  background-color: #fff;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}


nav a:hover {
	text-decoration: underline;
}

/* || --------- main */
main {
  justify-content: center;
  border: 1px solid #ff4136;
  margin-bottom: 10px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

/* || ------ article */
article {
  margin-bottom: 20px;
  border: 1px dotted #0074d9;
  background-color: #fff;
  flex: 1;
}

/* || ------ section */
section {
  margin-bottom: 10px;
  border: 1px dotted #0074d9;
  background-color: #e5f1fb;
}

/* || --------- aside */
aside {
  margin-bottom: 10px;
  border: 1px dotted #ffdc00;
  background-color: #fff;
  flex: 1;

}
/* || --------- footer */
footer {
  border: 1px dotted #222;
  background-color: #fff;
}


header,
nav,
main,
article,
section,
aside,
footer {
  position: relative;
}


header:after,
nav:after,
main:after,
article:after,
section:after,
aside:after,
footer:after {
  position: absolute;
  text-transform: uppercase;
  left: 0;
  top: 0;
  color: white;
  padding: 5px;
  font-size: 12px;
}

header:after {
  content: "header";
  background-color: #222;
}

nav:after {
  content: "nav";
  background-color: #222;
}

main:after {
  content: "main";
  background-color: #ff4136;
}

article:after {
  content: "article";
  background-color: #0074d9;
}

section:after {
  content: "section";
  background-color: #0074d9;
}

aside:after {
  content: "aside";
  background-color: #ffdc00;
}

footer:after {
  content: "footer";
  background-color: #222;
}





/* || Code Tags </> */
.hidden {
  display: none;
}
