/* ---------------------------------------------------style2.2 */
/* || ---------------------------------- General setup */
* {

}

html {
  margin: 0;
  padding: 0;
}

body {
  width: 70%;
  margin: 0 auto;

}

/* || ---------------------------------- typography */

h1, h2, h3, h4, h5, h6 {
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;

}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

p, li, table, form {
  font-size: 1.5rem;
}

.headings_example{
  background-color: inherit;
  color:#a9a9a9;
  margin: 0 0;
}

/* || ---------------------------------- layout */

/* || ------ header */
header {

}

nav, article, aside, footer {
  padding: 1%;
}

/* || ------ nav */
nav {
  height: 50px;
  border: 1px solid #222;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}


nav a:hover {
	text-decoration: underline;
}

/* || --------- main */
main {
  justify-content: center;
  border: 1px solid #ff4136;
  margin-bottom: 10px;
  padding: 30px;
}

/* || ------ article */
article {
  margin-bottom: 20px;
  border: 1px dotted #0074d9;
}

/* || ------ section */
section {
  margin-bottom: 10px;
  border: 1px dotted #0074d9;
}

/* || --------- aside */
aside {
  margin-bottom: 10px;
  border: 1px dotted #ffdc00;

}
/* || --------- footer */
footer {
  border: 1px dotted #222;
}


/* || Code Tags </> */
code {
 font-size: 10px;
 color: green;


}

code.cp {
  font-size: 1.5rem;
  color: inherit;
}

}

code.header,
.nav,
.footer {
  color:#222;
}

code.main {
  color:#ff4136;
}

code.article,
.section {
  color:#0074d9;
}

code.aside {
  color:#ffdc00;
}

/* || Show/Hide div switch </> */

#switch {
position: fixed;
top: 1px;
left: 1px;
